{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Подписки{% endblock %}
{% block content %}
    {% include 'posts/includes/switcher.html' with follow=True %}
    <h1>Последние обновления на сайте</h1>
    {% for post in page_obj %}
        {% include 'posts/includes/posts_card.html' %}
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <div class="d-flex justify-content-center">
        {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}