{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
 {{ author.get_full_name }} профайл пользователя
{% endblock %}

{% block content %}

    <div class="card bg-light" style="width: 100%">
        <div class="card-body">
            <h1 class="card-title">Все посты пользователя {{ author.get_full_name }}</h1>
            <h3 class="card-text">Всего постов: {{ page_obj.paginator.count }}</h3>
            <h3 class="card-text">Всего подписок: {{ author.follower.count }}</h3>
            <h3 class="card-text">Всего подписчиков: {{ author.following.count }}</h3>
            {% if request.user != author and request.user.is_authenticated %}
                {% if following %}
                    <a
                        class="btn btn-lg btn-light"
                        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
                    >
                        Отписаться
                    </a>
                {% else %}
                    <a
                        class="btn btn-lg btn-primary"
                        href="{% url 'posts:profile_follow' author.username %}" role="button"
                    >
                        Подписаться
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for post in page_obj %}
        {% include 'posts/includes/posts_card.html' %}
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    <div class="d-flex justify-content-center">
        <div>{% include 'posts/includes/paginator.html' %}</div>
    </div>
{% endblock %}